* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    nav {
        margin-top: 20px;
        display: flex;

        ul {
            display: flex;
            list-style: none;
            margin: 0 250px;


            li {
                margin-left: 50px;


                a {
                    text-decoration: none;
                    color: #696871;

                }

            }
        }

        .text:hover {
            color: #000;
        }

        .btn {
            background-color: #FF7143;
            width: 200px;
            height: 50px;
            color: #fff;

        }
    }

    .content2 {
        display: flex;
        margin-top: 150px;

        .box1 {
            h1 {
                font-size: 4em;
            }

            .btnclas {
                .btn {
                    background-color: #5454D4;
                    width: 180px;
                    height: 50px;
                    color: #fff;
                    margin-top: 50px;


                }

                img {
                    margin-top: 50px;
                    margin-left: 50px;
                }
            }


        }


        .box2 {
            img {
                margin-left: 400px;
                margin-top: -70px;
            }
        }
    }

    .container3 {
        img {
            margin-right: 135px;
        }

    }

    .container4 {
        margin-top: 200px;
        display: flex;


        .box2 {
            margin: auto;

            p {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .container5 {
        margin-top: 200px;
        display: flex;


        .box1 {
            margin: auto 0;

            p {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .box2 {
            img {
                margin-left: 350px;
            }
        }
    }

    .container6 {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;

        .bolum1 {
            text-align: center;
        }

        .bolum2 {
            text-align: center;
        }

        .bolum3 {
            text-align: center;
        }
    }

    .container7 {
        margin-top: 100px;
        display: flex;

        h1 {
            font-size: 4.5em;
        }

        .textyes {
            display: flex;
            width: 200px;
            height: 50px;
            border-radius: 10px;
            margin: auto 0;
            margin-left: 400px;

            .yest {
                width: 50%;
                margin: auto;
                background-color: #5454D4;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                color: #fff;
                text-align: center;
            }

            .nov {
                margin: auto 0;
                width: 50%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #F7F7FB;
                text-align: center;
            }
        }

        .container8 {
            .bolum1 {
                width: 500px;
                height: 400px;
                background-color: red;
            }
        }
    }

    .container8 {
        display: flex;
        justify-content: space-around;
        margin: 100px 100px;

        .bolum1 {
            .p1 {
                margin-top: 40px;
            }

            width: 30%;
            height: 470px;
            background-color: #F8F8F8;
            text-align: center;
            border-radius: 16px;
            font-size: x-large;
            margin-top: 30px;

            h1 {
                margin-bottom: 30px;
                font-size: 3em;
            }

            p {
                color: #696871;
            }

            button {
                width: 300px;
                height: 50px;
                border: 1px solid #EAE9F2;
                background-color: #fff;
                color: #5454D4;
                border-radius: 10px;
                margin-top: 30px;
            }

            button:hover {
                background-color: #5454D4;
                color: #fff;
            }
        }

        .bolum2 {

            .p1 {
                margin-top: 70px;
            }

            width: 35%;
            height: 530px;
            background-color: #FF7143;
            text-align: center;
            border-radius: 16px;
            font-size: x-large;
            color: #fff;

            .span {
                font-size: 2em;
            }

            h1 {
                margin-bottom: 30px;
            }


            button {
                width: 300px;
                height: 50px;
                border: 1px solid #9F3919;
                background-color: #9F3919;
                color: #fff;
                border-radius: 10px;
                margin-top: 20px;
            }

            button:hover {
                background-color: #fff;
                color: #9F3919;
            }
        }


        .bolum3 {

            .p1 {
                margin-top: 40px;
            }

            width: 30%;
            height: 470px;
            background-color: #F8F8F8;
            text-align: center;
            border-radius: 16px;
            font-size: x-large;
            margin-top: 30px;



            h1 {
                margin-bottom: 30px;

                span {
                    font-size: 2em;
                }
            }

            p {
                color: #696871;
            }

            button {
                width: 300px;
                height: 50px;
                border: 1px solid #EAE9F2;
                background-color: #fff;
                color: #5454D4;
                border-radius: 10px;
                margin-top: 30px;
            }

            button:hover {
                background-color: #5454D4;
                color: #fff;
            }
        }
    }
}